/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-background: #f5f1e6;
  --color-primary: #8b0000;
  --color-accent: #c9a227;
}
